    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Compañía</h3>
        <hr></hr>
        <span>Sobre nosotros</span>
        <span>Nuestros servicios</span>
        <span>Políticas de privacidad</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Ayuda</h3>
        <hr></hr>
        <span>Preguntas frecuentes</span>
        <span>Compras</span>
        <span>Devoluciones</span>
        <span>Estado del pedido</span>
        <span>Opciones de pago</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Tienda Online</h3>
        <hr></hr>
        <span>Categoria1</span>
        <span>Categoria2</span>
        <span>Categoria3</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center rrss">
        <h3>Síguenos</h3>
        <hr></hr>
        <span><i class="fab fa-facebook-f"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-instagram"></i></span>
        <span><i class="fab fa-linkedin-in"></i></span>
    </div>