    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Compañía</h3>
        <hr>
        <a href="https://www.google.es/">Sobre nosotros</a>
        <a href="https://www.google.es/">Nuestros servicios</a>
        <a href="https://www.google.es/">Políticas de privacidad</a>
    </div>
    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Ayuda</h3>
        <hr>
        <a href="https://www.google.es/">Preguntas frecuentes</a>
        <a href="https://www.google.es/">Compras</a>
        <a href="https://www.google.es/">Devoluciones</a>
        <a href="https://www.google.es/">Estado del pedido</a>
        <a href="https://www.google.es/">Opciones de pago</a>
    </div>
    <div class="col-3 d-flex flex-column align-items-center info">
        <h3>Tienda Online</h3>
        <hr>
        <a th:href="@{/productos/lista}">Coches</a>
        <a th:href="@{/coches/lista}">Productos</a>
    </div>
    <div class="col-3 d-flex flex-column align-items-center rrss">
        <h3>Síguenos</h3>
        <hr>
        <a href="https://www.google.es/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.google.es/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.google.es/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.google.es/"><i class="fab fa-linkedin-in"></i></a>
    </div>