<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Footer</title>
</head>
<body>
<footer class="row d-flex">
    <div class="col-3 d-flex flex-column align-items-center">
        <h3>Compañía</h3>
        <hr></hr>
        <span>Sobre nosotros</span>
        <span>Nuestros servicios</span>
        <span>Políticas de privacidad</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <h3>Ayuda</h3>
        <hr></hr>
        <span>Preguntas frecuentes</span>
        <span>Compras</span>
        <span>Devoluciones</span>
        <span>Estado del pedido</span>
        <span>Opciones de pago</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <h3>Tienda Online</h3>
        <hr></hr>
        <span>Categoria1</span>
        <span>Categoria2</span>
        <span>Categoria3</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center rrss">
        <h3>Síguenos</h3>
        <hr></hr>
        <span><i class="fab fa-facebook-f"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-instagram"></i></span>
        <span><i class="fab fa-linkedin-in"></i></span>
    </div>
</footer>
</body>
</html>