<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/Header.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Header</title>
</head>

<body>
	<header>
       	<nav>
       	    <ul class="nav">
       	        <li>Home</li>
       	        <li>Tienda</li>
       	        <li><img src="/img/header/dibujo.png" class="logo"></li>
       	        <li>Contacto</li>
       	        <li>Log in/<br>
       	            Registrar
       	        </li>
       	    </ul>
       	</nav>
	</header> 
</body>
</html>