<nav>
	<ul class="nav">
		<li sec:authorize="hasAnyAuthority('ADMIN')">	
        	<a th:href="@{/admin/usuarios}">Admin</a>
        </li>
        
        <li sec:authorize="isAnonymous() || hasAnyAuthority('USUARIO')">
        	<a th:href="@{/}">Home</a>
        </li>
            	
    	<li class="nav-item dropdown">
    		<a th:href="@{/coches/lista}">Tienda</a>
		</li>
    	<li><a th:href="@{/}"><img src="/img/header/dibujo.png" class="logo" alt="logo"></a></li>
    	<li><a th:href="@{/contacto}">Contacto</a></li>
       	<li class="nav-item dropdown" sec:authorize="isAnonymous()">
    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				Entrar
    		</a>
    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    			<a class="dropdown-item" href="/login">Log In</a>
    			<a class="dropdown-item" href="/singup">Registar</a>
    		</div>
		</li>
		<li sec:authorize="isAuthenticated()" class="row">
			<a th:href="@{/coches/carrito}"><img src="/img/icons/carrito.png" class="logo col d-flex justify-self-center align-self-center" alt="logo"></a>
			<a class="botonNav col" th:href="@{/logout}">Salir</a>
		</li>
	</ul>
</nav>