<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/paginacion.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Admin</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
        <section class="row">
                <!-- |AdminNav| 				 |AdminNav|  -->
    			<ul class="col-2 d-flex adminNav" th:insert="fragments/adminNav"></ul>
    			<!-- ======================================= -->
                <div class="col-10">
                    <div class="row">
                		<a class="col-2" th:href="@{/admin/empleados/añadir}"><button class="boton0">Añadir nuevo</button></a>
                		<h1 class="col-8 text-center">Empelados</h1>
                	</div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Puesto</th>
                                <th>Salario</th>
                                <th>Fecha Contrato</th>
                                <th>Concesionario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="emp: ${emp}" >
                                <td th:text="${emp.id}"></td>
                                <td th:text="${emp.nombre}"></td>
                                <td th:text="${emp.apellido}"></td>
                                <td th:text="${emp.puesto}"></td>
                                <td th:text="${#numbers.formatDecimal(emp.salario, 0, 'POINT', 0, 'COMMA')} + ' €'"></td> 
                                <td th:text="${emp.fecha_contrato}"></td>
								<td>
        							<span th:each="con : ${con}" th:if="${con.id == emp.idConcesionario}" th:text="${con.nombre}"></span>
    							</td>
                                <td class="opciones">
                                    <a th:href="@{/admin/empleados/edit/{id} (id=${emp.id}) }" class="boton-admin" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                    <a th:href="@{/admin/empleados/delete/{id} (id=${emp.id}) }" th:onclick="return confirm('¿Estas seguro?')" class="boton-admin" role="button" title="Eliminar el registro."><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                    <div class="row justify-content-center paginacion">
						<nav aria-label="Pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
									<a class="page-link pag" th:href="@{|/admin/empleados?page=${prev}|}">Anterior</a>
								</li>
								<li class="page-item numeros" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
									<a class="page-link" th:href="@{|/admin/empleados?page=${page}|}" th:text="${page}"></a>
								</li>
								<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
									<a class="page-link pag" th:href="@{|/admin/empleados?page=${next}|}">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
                </div>
            </section>
    </main>
    <!-- |footer| 				   	 			  |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>