<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/botones.css">
    <link rel="stylesheet" href="/css/paginacion.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Admin</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
        <section class="row">
                <!-- |AdminNav| 				 |AdminNav|  -->
    			<ul class="col-2 d-flex adminNav" th:insert="fragments/adminNav"></ul>
    			<!-- ======================================= -->
                <div class="col-10">
                    <h1 class="text-center">USUARIOS</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th>Usuario</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="u: ${c}">
                                <td th:text="${u.id}"></td>
                                <td th:text="${u.nombre}"></td>
                                <td th:text="${u.apellido}"></td>
                                <td th:text="${u.email}"></td>
                                <td th:text="${u.usuario}"></td>
                                 <td>
        						    <span th:if="${u.estatus == 0}">Inactivo</span>
        						    <span th:if="${u.estatus == 1}">Activo</span>
        						</td>
        						<td>
        						    <form th:action="@{/admin/usuarios/cambiar-estatus/{id}(id=${u.id})}" method="get">
        						        <button type="submit" class="botonUsuarios">Cambiar Estatus</button>
        						    </form>
        						</td>
                            </tr> 
                        </tbody>
                    </table>
                    <div class="row justify-content-center paginacion">
						<nav aria-label="Pagination col">
							<ul class="pagination justify-content-center col">
								<li class="page-item col" th:classappend="${prev == 0 ? 'disabled': ''}">
									<a class="page-link col" th:href="@{|/admin/usuarios?page=${prev}|}">Anterior</a>
								</li>
								<li class="page-item numeros col" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
									<a class="page-link col" th:href="@{|/admin/usuarios?page=${page}|}" th:text="${page}"></a>
								</li>
								<li class="page-item col" th:classappend="${current == last ? 'disabled': ''}">
									<a class="page-link col" th:href="@{|/admin/usuarios?page=${next}|}">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
                </div>
            </section>
    </main>
    <!-- |footer| 				   	 			  |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>