<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.4/css/all.min.css" />
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Admin</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
        <section class="row">
                <div class="col-2 d-flex">
                    <li class="boton-lista">
                        <a href="#">USUARIOS</a>
                    </li>
                    <li class="boton-lista">
                        <a href="#">PRODUCTOS</a>
                    </li>
                    <li class="boton-lista">
                        <a href="#">SERVICIOS</a>
                    </li>
                    <li class="boton-lista">
                        <a href="#">COCHES</a>
                    </li>
                </div>
                <div class="col-10">
                    <h1 class="text-center">USUARIOS</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Teléfono</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                            <tr>
                                <td>4824</td>
                                <td>David</td>
                                <td>Corral Allo</td>
                                <td>693 84 58 58</td>
                                <td>David123</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
    </main>
    <!-- |footer| 				   	 			  |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>