<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/singup&login.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Log In</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
        <form class="col" th:action="@{/login}" method="POST">
            <h2>Log In</h2>
            <div class="row campo">
                <input type="text" id="username" name="username" placeholder="Username" >
            </div>
            <div class="row campo">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="row divbtn d-flex justify-content-center">
                <button class="btn2" type="submit" id="submit" name="submit">Log In</button>
            </div>
            <div th:if="${errorMessage}" class="error-message">
        		<p th:text="${errorMessage}"></p>
    		</div>
        </form>
    </main>
    <!-- |footer| 				   	 	         |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>