@charset "ISO-8859-1";
main {
    background-color: #28242c;
}

section {
    width: 100%;
    padding-bottom: 10vw;
}

h1 {
	font-size: 4vw !important;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 7.5vw;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-10 {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

h1{
    padding-top: 5.5vw;
    color: rgb(255, 0, 100);
    font-size: 3vw;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 15px;
    font-size: 1vw;
    margin-top: 2.5vw;
}

tbody {
    font-weight: 475;
}

thead tr th{
    padding-top: 1vw;
    padding-bottom: 1vw;
}

td{
    padding-top:1vw;
    padding-bottom:1vw;
}

tbody tr:hover {
    background-color: #28242c;
    color: white;
}

.opciones {
	width: 10%;
	display: flex;
}

.paginacion {
	padding-top: 5%;
	width: 100%;
}


.adminNav  {
	flex-direction: column;
	justify-content: center !important;
	align-content: center !important;
	text-align: center !important;
}

a {
	text-decoration: none !Important;
}
