@charset "ISO-8859-1";
main {
    background-color: #28242c;
}

section {
    width: 100%;
    padding-bottom: 10vw;
}

h1 {
	font-size: 4vw !important;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 7.5vw;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-10 {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.boton-lista {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom: 7.5%;
    text-decoration: none;
    margin-top: 2vw;
}

.boton-lista a {
    text-decoration: none;
    color: #FFFFFF;
}

.boton-lista a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

h1{
    padding-top: 5.5vw;
    color: rgb(255, 0, 100);
    font-size: 3vw;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 15px;
    font-size: 1vw;
    margin-top: 2.5vw;
}

tbody {
    font-weight: 475;
}

thead tr th{
    padding-top: 1vw;
    padding-bottom: 1vw;
}

td{
    padding-top:1vw;
    padding-bottom:1vw;
}

tbody tr:hover {
    background-color: #28242c;
    color: white;
}

.opciones {
	width: 10%;
	display: flex;
}

.boton-admin {
	color: rgb(255, 0, 100);
	margin-right: 500%;
}

.paginacion {
	padding-top: 5%;
	width: 100%;
}


.boton0 {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 0.75vw;
    font-weight: 300;
    line-height: 24px;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;
    height: 100%;
}

.boton0:hover {
    background: white;
    border-radius: 999px;
    box-shadow: white 0 10px 20px -10px;
    color: #28242c;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;
}

.adminNav  {
	flex-direction: column;
	justify-content: center !important;
	align-content: center !important;
	text-align: center !important;
}


