@charset "ISO-8859-1";

.boton-lista {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom: 7.5%;
    text-decoration: none;
    margin-top: 2vw;
}

.boton-lista a {
    text-decoration: none;
    color: #FFFFFF;
}

.boton-lista a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.boton-admin {
	color: rgb(255, 0, 100);
	margin-right: 500%;
}

.boton-admin:hover {
	color: white;
}



.botonNuevoRegistro{
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 0.75vw;
    font-weight: 300;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;

}

.botonNuevoRegistro:hover {
    background: white;
    border-radius: 999px;
    box-shadow: white 0 10px 20px -10px;
    color: #28242c;
    font-size: 1vw;
    font-weight: 300;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;
}


.botones div{
	display: flex;
	justify-content: center;
	align-content: center;
}



a {
    text-decoration:none !important;
}

.botonGeneral {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 0.75vw;
    font-weight: 300;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;
    height: 100%;
}

.boton {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom:7.5%;
}

.boton2 {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom:7.5%;
    margin-top:10%;
    display: flex;
    justify-content: center;
    margin: 2vw;
}

.compra {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.botonNav {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom:7.5%;
}	




.botonUsuarios {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 0.75vw;
    font-weight: 300;
    line-height: 1vw;
    opacity: 1;
    padding: 1vw 1vw;
    border: 0;
    margin-bottom:0%;
    margin-top:0%;
    display: flex;
    justify-content: center;
    margin-left: 0.5vw;

}









