header {
    background-color: #28242c;
    color: white;
}

.nav {
    display: flex;
    padding-top: 2.5%;
    align-items: center;
}

.nav li{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    width: 20%;
}

.logo {
    height:4vw;}

.nav a{
	color: white;
	font-size: 1.25vw;
	text-decoration: none;
}


.nav a:hover{ 
	color:white;
	cursor: pointer;
	text-decoration: none;
	}
	
.dropdown-item {color:black !important;}
	
.dropdown-item:hover{
	color:white !important;
	background-color: #28242c !important;
}
	
	
	
	
	
	