header {
    background-color: #28242c;
    color: white;
}

.nav {
    display: flex;
    padding-top: 2.5%;
    align-items: center;
    justify-content: space-around;
}

.nav li{    
	padding-bottom: 2%;
}

.logo {
    height:4vw;
}

.nav a{
	color: white;
	font-size: 1.25vw;
	text-decoration: none;
}


.nav a:hover{ 
	color: rgb(255, 0, 100);
	cursor: pointer;
	text-decoration: none;
	}
	
.dropdown-item {color:black !important;}
	
.dropdown-item:hover{
	color:white !important;
	background-color: #28242c !important;
}
	
.botonNav {
	color: white !important;
}
	

	
	