@charset "ISO-8859-1";

main{
	padding-bottom:5%;
	background-color: #28242c;	
}

section{
    background-color: #28242c;
    color: white;
    width: 100%;
}

.row {
    margin: 0px !important;
}
.inicio {
    background-image: url('/img/home/porche911.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: 600;
    color: white;
}

.info {
    background-color: rgb(40, 36, 44, 0.2);

}
.info h1 {
    color:rgb(255, 0, 100);
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 4vw;
}

.info p {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2vw;
}

/*Hasta aqui el inicio */


.marcaModelo {
	height: 5vw !important;
	margin-top: 2.5vw;
	width: 80%;
	display: flex;
	justify-self: center;
	align-self: center;
}

/*Ahora servicios*/
.tasacion {
    display: flex;
    justify-content: center;
	padding-bottom: 10%;
}

.tasacion div h2 {
    color:rgb(255, 0, 100);
    padding-top: 7.5%;
    padding-bottom: 5%;
    font-size: 2vw;
}

.tasacion div p {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1vw;
}

.boton0 {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom:7.5%;
}

.timg{
    background-image: url('/img/home/tasacion.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.timg2{
    background-image: url('/img/home/repro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.separacion {
    background-color: rgb(255, 0, 100);
    border-color: rgb(255, 0, 100);
    border-radius: 100px;
    height: 5px;
    opacity: 100%;
    width: 40%;

    margin-bottom: 10%;
    margin-left:30%;
}

/*Hasta aqui servicios */

/* Productos destacados */
body{
	background: #F5F1EE;
	font-family: 'Roboto', sans-serif;
}
.card{
	width: 15vw;
	border-radius: 10px;
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 1vw;
}
small.text-muted{
	font-size: 0.5vw;
}
h6{
	color: black !important;
	font-size: 1vw !important;
}
h5.mb-0{
	font-size: 1vw;
	color: black !important;
}
small.ghj{
	font-size: 0.75vw;
	color:black;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 1vw;
	color: black !important;
}

.imgCar {
    height: 10vw;
}

.destacados {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.mt-5 {
	width:100%;
}


.iconoInfo{
    height: 1.5vw;
    width:1.5vw;
    display: flex;
    align-self: center;
}

.text-muted {
	color: black !important;
	font-size: 2vw;
}

h2{
	width: 100%;
	color:rgb(255, 0, 100);
	font-size: 3vw !important;
}

.card-body hr {
	background-color:rgb(255, 0, 100) !important;
	color:rgb(255, 0, 100) !important;
}

.circulo {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}


