@charset "ISO-8859-1";

main{
	padding-bottom:5%;
	background-color: #28242c;	
}

section{
    background-color: #28242c;
    color: white;
    width: 100%;
}

.row {
    margin: 0px !important;
}
.inicio {
    background-image: url('/img/home/porche911.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    background-color: rgb(40, 36, 44, 0.2);

}
.info h1 {
    color:rgb(255, 0, 100);
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 4vw;
}

.info p {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2vw;
}

/*Hasta aqui el inicio */
/*Ahora marcas*/

.marcas h2 {
    padding-top: 5%;
    font-size: 2.75vw;
}

.marcasimg {
    background-image: url('/img/home/marcas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
}

/*Hasta aqui marcas */
/*Ahora servicios*/
.tasacion {
    display: flex;
    justify-content: center;
	padding-bottom: 10%;
}

.tasacion div h2 {
    color:rgb(255, 0, 100);
    padding-top: 7.5%;
    padding-bottom: 5%;
    font-size: 2vw;
}

.tasacion div p {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1vw;
}

.boton0 {
    background: rgb(255, 0, 100);
    border-radius: 999px;
    box-shadow: rgb(255, 0, 100) 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    opacity: 1;
    padding: 1vw 2vw;
    border: 0;
    margin-bottom:7.5%;
}

.timg{
    background-image: url('/img/home/tasacion.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.timg2{
    background-image: url('/img/home/repro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.separacion {
    background-color: rgb(255, 0, 100);
    border-color: rgb(255, 0, 100);
    border-radius: 100px;
    height: 5px;
    opacity: 100%;
    width: 40%;

    margin-bottom: 10%;
    margin-left:30%;
}

/*Hasta aqui servicios */
