<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/botones.css">
    <link rel="stylesheet" href="/css/paginacion.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Nuestros Coches</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
    	<section th:object="${c}">
    	<article>
    	<input type="hidden" th:field="${id}" name="id">
        	<div class="col">
        		<div class="row top">
        			<img th:src="${c.img}" class="imgDetalle">
        		</div>
        		<div class="row top">
        			<h3 class="modelo" th:text="${c.marca} + ' ' + ${c.modelo}"></h3>
        		</div>
        		<div class="row top">
        			<h3 th:text="${#numbers.formatDecimal(c.precio, 0, 'POINT', 0, 'COMMA')} + ' €'"></h3>
        		</div>
        		
        		<div class="row informacion">	<!--  1º Fila  -->
        			<div class="col-4"> <!--  Motor  -->
        				<div class="recuadro">
							<div class="row">
								<img src="/img/icons/Producto/Motor.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.motor} + ' ' +  ${c.propulsion}"></h3>
							</div>
						</div>
					</div>
					
        			<div class="col-4"> <!--  Potencia  -->
        				<div class="recuadro">
							<div class="row">
								<img src="/img/icons/Producto/Velocimetro.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.potencia} + ' hp'"></h3>
							</div>
						</div>
					</div>
					
        			<div class="col-4"> <!--  Cambio -->
        				<div class="recuadro">
							<div class="row">
								<img src="/img/icons/Producto/Cambio.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.cambio}"></h3>
							</div>
						</div>
					</div>
        		</div>  <!--  Fin 1º Fila  -->
        		
        		
        		<div class="row informacion">	<!--  2º Fila  -->
        			<div class="col-4"> <!--  Traccion  -->
        				<div class="recuadro">
        					<div class="row">
								<img src="/img/icons/Producto/Traccion.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.traccion}"></h3>
							</div>
        				</div>
					</div>
					
        			<div class="col-4"> <!--  Combustible  -->
        				<div class="recuadro">
							<div class="row">
								<img src="/img/icons/Producto/Combustible.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.combustible}"></h3>
							</div>
						</div>
					</div>
					
        			<div class="col-4"> <!--  Consumo -->
        				<div class="recuadro">
							<div class="row">
								<img src="/img/icons/Producto/consumo.png">
							</div>
							<div class="row">
								<h3 class="row" th:text="${c.consumoCiudad} + 'Ciudad' + '/'"></h3>
								<h3 class="row" th:text="${c.consumoAutopista} + 'autopista'"></h3>
							</div>
						</div>
					</div>
        		</div>  <!--  Fin 2º Fila  -->
        		<div class="compra"><a><button class="boton2">Comprar</button></a></div>
        	</div>
        	</article>
       	</section>
    </main>
    <!-- |footer| 				   	 	         |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>