<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/coches.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Nuestros Coches</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
    	<section>
        	<div class="col">
        		<div class="row">
        			<img th:src="${c.img}" class="imgDetalle">
        		</div>
        		<div class="row">
        			<h3 th:text="${c.marca}"></h3>
        		</div>
        		
        		
        		<div class="row">	<!--  1º Fila  -->
        			<div class="col"> <!--  Motor  -->
						<div class="row">
							<img src="/img/icons/Producto/Motor.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.motor}"></h3>
							<h3 class="row" th:text="${c.propulsion}"></h3>
						</div>
					</div>
					
        			<div class="col"> <!--  Potencia  -->
						<div class="row">
							<img src="/img/icons/Producto/Velocimetro.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.potencia}"></h3>
						</div>
					</div>
					
        			<div class="col"> <!--  Cambio -->
						<div class="row">
							<img src="/img/icons/Producto/Cambio.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.cambio}"></h3>
						</div>
					</div>
        		</div>  <!--  Fin 1º Fila  -->
        		
        		
        		<div class="row">	<!--  2º Fila  -->
        			<div class="col"> <!--  Traccion  -->
						<div class="row">
							<img src="/img/icons/Producto/Traccion.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.traccion}"></h3>
						</div>
					</div>
					
        			<div class="col"> <!--  Combustible  -->
						<div class="row">
							<img src="/img/icons/Producto/Combustible.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.combustible}"></h3>
						</div>
					</div>
					
        			<div class="col"> <!--  Consumo -->
						<div class="row">
							<img src="/img/icons/Producto/Combustible.png">
						</div>
						<div class="row">
							<h3 class="row" th:text="${c.consumoCiudad}"></h3>
							<h3 class="row" th:text="${c.consumoAutopista}"></h3>
						</div>
					</div>
        		</div>  <!--  Fin 2º Fila  -->
        		
        		
        	</div>
       	</section>
    </main>
    <!-- |footer| 				   	 	         |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>