<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c777ed83a5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/coches.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Coruña Automoción | Nuestros Coches</title>
</head>
<body>
	<!-- |header| 				   	 			  |header|	  -->
    <header th:insert="fragments/header"></header>
    <!-- ====================================================== -->
    <main>
        <section class="col">
        	<article class="col" th:each="c: ${c}">
        		<div class="row">
        			<div class="col-6">
        				<img th:src="${c.img}" class="imgCoche">
        			</div>
					
        			<div class="col-6 text-center">
        				<div class="row prestaciones">
        					<div class="col-6" th:text="${c.marca}"></div>
        					<div class="col-6" th:text="${c.modelo}"></div>
        				</div>
        				<div class="row prestaciones">
        					<div class="col-6" th:text="${#numbers.formatDecimal(c.precio, 0, 'POINT', 0, 'COMMA')} + ' €'"></div>
        					<div class="col-6" th:text="${c.plazas} + ' Plazas'"></div>
        				</div>
        			</div>
        		</div>
        		<div class="row botones">
        			<div class="col-4"><a th:href="@{/coches/comentarios}"><button class="boton2">Comentarios</button></a></div>
        			<div class="col-4"><a th:href="@{/coches/detalle/{id} (id=${c.id})}"><button class="boton2">Detalle</button></a></div>
        			<div class="col-4"><a><button class="boton2">Comprar</button></a></div>
        		</div>
        	</article>
        	
   <div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<nav aria-label="Pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
								<a class="page-link" th:href="@{|/coches/lista?page=${prev}|}">Anterior</a>
							</li>
							<li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
								<a class="page-link" th:href="@{|/coches/lista?page=${page}|}" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
								<a class="page-link" th:href="@{|/coches/lista?page=${next}|}">Siguiente</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-2"></div>
			</div>

        </section> 
    </main>
    <!-- |footer| 				   	 	         |footer|	  -->
    <footer class="row d-flex" th:insert="fragments/footer"></footer>
    <!-- ====================================================== -->
</body>
</html>